<!-- Modal -->
<div id="want-info">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Інформація</h5>
            </div>
            <div class="modal-body">
                Книга вільна і ти можеш прийти за нею.<br>
                Наша адреса: м. Кропивницький, провулок Васильєвский 10, 5 етаж.<br>
                Краще заздалегідь зателефонувати та попередити нас, щоб
                не попасти в незручну ситуацію. Тел. 099 196 24 69
            </div>
            <div class="modal-footer">
                <center><a class="btn btn-primary" href="#" role="button">OK</a></center>
            </div>
        </div>
    </div>
</div>